/* src/styles/globals.css */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* APPTIVE Colors */
  --apptive-primary: #ff7900;
  --apptive-primary-hover: #ff9933;
  --apptive-dark: #282a2e;
  --apptive-gray: #eaedf0;
  --apptive-text-gray: #adb0b2;
}

/* stylelint-disable-next-line at-rule-no-unknown */
@theme inline {
  /* Base */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pretendard);

  /* Brand */
  --color-primary: var(--apptive-primary);
  --color-primary-hover: var(--apptive-primary-hover);

  /* Background */
  --color-bg-dark: var(--apptive-dark);
  --color-bg-gray: var(--apptive-gray);

  /* Text */
  --color-text-primary: var(--apptive-dark);
  --color-text-secondary: var(--apptive-text-gray);

  /* Other */
  --color-footer: var(--apptive-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

html,
body {
  overscroll-behavior: none;
}
